body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F6F6;
}

li.list-group-item {
    color: #858585;
    background: none;
    border: none;
    cursor: pointer;
}

svg.w-6.h-6 {
    width: 24px;
}

#long-text{
    text-overflow: ellipsis; 
}