body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F6F6;
}

.primary1 {
    color: #5D5FEF;
}

li.list-group-item {
    color: #858585;
    background: none;
    border: none;
    cursor: pointer;
}

li.list-group-item:hover {
    color: #5D5FEF;
}